body, html {
  font-family: 'Playfair Display', serif;
  color: #000;
  height: 100%;
  margin: 0px;
}
a{
  color: #000;
}
a:hover{
 color: pink;
 text-decoration: none;

}
a.page-scroll{
  color: #FFF;
  text-shadow: 1px 1px 4px #000;
}
a.page-scroll:hover, a.page-scroll:active{
  background-color: transparent;
}
button{
  background-color: white;
  border: 2px solid black;
  border-radius: 0px;
  color: black;
  height: auto;
  margin: 10px;
  padding: 20px; 
  text-align: center;
  text-transform: uppercase;
  width: auto;
}
button:hover{
  background-color: black;
  color:white;
}
button.btn.btn-default.btn-lg{
  background-color: white;
  border: 2px solid black;
  border-radius: 0px;
  color: black; 
  height: auto;
  margin: 10px 0px 0px 20px;
  padding: 20px; 
  text-align: center;
  text-transform: uppercase;
  width: auto;
}
button.btn.btn-default.btn-lg:hover{
  background-color: black;
  color:white;
}
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../img/img_parallax.jpg");
  min-height: 100%;
}

.bgimg-4 {
  background-image: url("../img/img_parallax3.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../img/img_parallax4.jpg");
  min-height: 400px;
}
.bgimg-2{
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/img_parallax2.jpg");
  min-height: 400px;
}

.caption{
  font-family: 'Playfair Display', serif;
  color: white;
  left: 0;
  position: absolute;
  text-shadow: 1px 1px 4px #000;
  text-align: center;
  top: 35%;
  width: 100%;
}
.caption .border {
  color: white;
  font-weight: lighter;
  letter-spacing: 3px;
  margin: 0px;
  padding: 0px; 
  text-align: center;
  text-shadow: 1px 1px 4px #000;
}
.caption span.border {
  font-family: 'Noto Serif', serif;
  letter-spacing: 3px;
}
.col-sm-6.cermony{
  float: left;
  text-align: center;
}
.col-sm-6.recaption{
  float: left;
  text-align: center;
}
div.container{
  margin-bottom: 50px;
  margin-top: 50px;
}
div .border{
  color: white;
  text-shadow: 1px 1px 4px #000;
}
div#about.featurette{
  margin-bottom: 50px;
}
.featurette-divider {
  margin: 80px 0;
}
.featurette {
  overflow: hidden;
}
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}
.featurette-heading {
  font-size: 50px;
}
footer {
  margin: 10px 0;
}
footer p{
  font-size: 10px;
  text-align: center;
}
h1.page-header{
  font-family: 'Playfair Display', serif;
  margin-top: 10px;
  text-align: center;
}
h1{
  text-transform: uppercase;
}
h2.page-header{
  margin-top: 100px;
}
h4 {
  font-family: 'Playfair Display', serif;
  margin-top: 10px;
}
img.about{
  height: 300px;
  margin: -40px auto 10px;
  width: 300px;
}
.line{
  border-bottom: 0.5px solid rgba(58, 64, 73, 1);
  left: 525px;
  position: absolute;
  transform: rotate(89.1682deg) translateZ(0px);
  top: 230px;
  width: 130px;
}

p.center{
  text-align: center;
}
#pageheader{
  color: white;
  font-family: 'Playfair Display', serif;
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 4px #000;
  top: 40%;
  width: 100%;
}
.page-header{
  margin:-60px auto 100px;
}
section {
  background: rgba(255, 255, 255, 0.96);
  position: relative;
  width: 100%;
  z-index: 3;
  -webkit-backface-visibility: hidden;
}
.social-icons{
  color:white;
  font-size: 16px;
  line-height: 2;
  padding: 20px; 
  text-shadow: 1px 1px 4px #000;
}
/* NAVBAR */
#nav{
  width: 750px;
  margin:0 auto;
}
ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
li {
  display:inline-block;
  float: left;
  margin-right: 1px;
}
li a {
  display:block;
  min-width:140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #2f3036;
  text-decoration: none;
}
li:hover a {
  background: #19c589;
}
li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}
.show-menu {
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 10px 0;
  display: none;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ #nav{
    display: block;
}

/*Responsive Styles*/

@media screen and (max-width : 760px){
  ul {
    position: static;
    display: none;
  }
  li {
    margin-bottom: 1px;
  }
  ul li, li a {
    width: 100%;
  }
  .show-menu {
    display:block;
  }
}
@media screen and (min-width: 768px) {
  /*body{
    background-attachment: scroll;
    background: url("../img/img_parallax.jpg") no-repeat center center;
    overflow-x: hidden;
  }
  .col-xs-6{
    width:50%;
  }
  
  nav.navbar-collapse.collapse{
    left: 0;
    margin-left: 0;
    letter-spacing: 3px;
  }
  .line{
    left: 40%;
  }
}
@media screen and (min-width: 320px) {
 body{
  background-attachment: scroll;
  background: url("../img/img_parallax.jpg") no-repeat center center;
  overflow-x: hidden;
}
p{
  padding:5px;
  text-align: left;
}
  section#thebigday{
    text-align: center;
  }
  section#thebigday button{
    margin-top: 10px;
  }
  section#thebigday div.col-xs-12.col-sm-6{
    padding-bottom: 20px;
  }
}

